<router-outlet></router-outlet>

<footer>
  <marquee behavior="scroll" direction="left" class="bg-dark text-white py-1"
    style="position: absolute; bottom: 0; z-index: 10; font-size: 14px;">
    Design and Developed by Gurlivleen Singh Kainth (1805511) and Manjot Singh (1905425) under the mentorship of Dr.
    Amit Kamra (AP IT) [ DEPARTMENT OF INFORMATION TECHNOLOGY ]
  </marquee>
</footer>
